<div class="photo-container">
{% for photo in photos %}
    <div class="photo">
        <a href="{% url 'app:photos_detail' photo.id %}">
            <img src="{{ photo.image.url }}" class="photo-img">
        </a>
        <div class="photo-info">
            <a href="{% url 'app:photos_category' category=photo.category %}" class="category">{{ photo.category }}</a>
            <a href="{% url 'app:users_detail' photo.user.id %}">
                <div class="icon-and-name">
                    <p><img src="{{ photo.user.icon.image.url }}" class="icon-img"></p>
                    <p>{{ photo.user }}</p>
                </div>
            </a>
        </div>
    </div>
{% endfor %}
</div>
