{% extends 'app/base.html' %}

{% block content %}

<div id="user_detail">

    <div class="icon-and-name">
        {% if user == request.user %}
        <a href="{% url 'app:icon_new' %}">
            <p><img src="{{ user.icon.image.url }}" class="icon-img"></p>
        </a>
        {% else  %}
            <p><img src="{{ user.icon.image.url }}" class="icon-img"></p>
        {% endif %}

        <p class="user-name">
            {{ user.username }}
        </p>
    </div>

    {% if photos.count != 0 %}
        <p>投稿<strong>{{ photos.count }}</strong>件</p>
    {% else %}
        {% if user == request.user %}
            <p>初めての投稿をしてみましょう！</p>
        {% else %}
            <p>@{{ user.username }}さんはまだ投稿していません。</p>
        {% endif %}
    {% endif %}

</div>
{% include 'app/photos_list.html' %}

{% endblock %}